{% if similar_movies %}
<div class="mt-5">
    <h4>Similar Movies You Might Like</h4>
    <div class="row row-cols-1 row-cols-md-4 g-3 mt-2">
        {% for m in similar_movies %}
        <div class="col">
            <div class="card bg-dark text-light border-secondary h-100">
                <img src="{{ m.poster_image }}" class="card-img-top" style="height: 180px; object-fit: cover;" alt="{{ m.title }}">
                <div class="card-body p-2">
                    <h6 class="card-title text-truncate">{{ m.title }}</h6>
                    <a href="{% url 'movies:detail' m.slug %}" class="btn btn-sm btn-outline-info w-100">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
