{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card bg-dark text-light border-danger p-4 shadow">
            <h3 class="card-title text-center text-danger mb-4">Login to BookMySeat</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" name="username" class="form-control bg-dark text-light border-secondary" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control bg-dark text-light border-secondary" required>
                </div>
                <button type="submit" class="btn btn-danger w-100 fw-bold py-2 mt-3">Sign In</button>
            </form>
            <div class="text-center mt-3">
                <small class="text-white">Don't have an account? <a href="{% url 'users:register' %}" class="text-danger fw-bold">Register here</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
